body {
  background-color: #bbb;
  color: black;
  -webkit-justify-content: center;
  justify-content: center;
}

.main-container {
  @extend .container-fluid;
  max-width: 500px;
  background-color: lightgrey;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.main-button {
  @extend .btn;
  @extend .btn-primary;
  width: 100%;
  margin-top: 1rem;
  background-color: transparent;
  border-color: gray;
  color: #333;
  &:hover {
    background-color: darkgray;
    border-color: gray;
    color: #333;
  }
  &:active {
    background-color: #777 !important;
    border-color: gray !important;
    color: #333 !important;
  }
  &:focus {
    background-color: #777 !important;
    border-color: gray !important;
    color: #333 !important;
    outline: none !important;
  }
}

.text-input {
  @extend .form-control;
  color: #333;
}
