.gamecard {
  cursor: pointer;
  text-align: left;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem;
  min-width: 125px;
  max-width: 125px;
  min-height: 175px;
  position: relative;
  margin: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
  &:hover, :focus {
    transform: scale(1.05);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  }
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  &.black-card {
    background-color: black;
    color: white;
  }
  &.white-card {
    background-color: white;
    color: black;
  }
  &.picked-card {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.pick-count {
  text-align: right;
  width: 109px;
  bottom: 0.5rem;
  position: absolute;
}

@media screen and (max-width: 793px) {
  .white-card {
    border: 1px;
    border-style: solid;
    border-color: #aaa;
  }

  .gamecard {
    flex: none;
  }
}
