.score-container {
  background-color: lightgray;
  border-radius: 0.5rem;
}

.score-row {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.score-item {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 793px) {
  .score-container {
    background-color: #fff;
  }
}
